a {
  text-decoration: none;
  color: black;
}

.profile-class input {
  margin-top: 16px;
}

.text-holder h1 {
  line-height: 110px;
  border-radius: 5px;
}

.user-profile input {
  margin-bottom: 16px;
}

